<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your To-Do made simple and easy</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

    <h1>It's weekday</h1>
    <p>Need to work</p>


<script src="index.js"></script>
</body>
</html>