<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

</head>
<body>

    <h1> <%= calendar %> </h1>

    <ul>
        <li>None</li>
        <li>None</li>
        <% for ( var i = 0 ; i < array.length ; i++ ) { %>
            <li> <%= toDo %> </li>
        <% } %>
    </ul>

    <form action="/" method="post">
        <input type="text" placeholder="Add new task" name="newTask">
        <button type="submit">Add</button>
    </form>

<script src="index.js"></script>
</body>
</html>

