<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-to-br from-blue-300 via-purple-500 to-green-500">

    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white rounded-lg shadow-md p-8 w-80">


            <h1 class="text-4xl font-bold mb-4 text-center text-gray-800">
                <%= listTitle %>
            </h1>


            <ul class="space-y-2 text-lg text-gray-700">

                <% for ( var i=0 ; i < toDo.length ; i++ ) { %>

                    <div class="flex flex-row space-x-3">

                        <input type="checkbox" class=" ml-3">
                        <p class="flex items-center justify-between">
                            <span>

                                <%= toDo[i] %>
                            </span>

                           
                        </p>
                    </div>
                    <% } %>
            </ul>

            <form action="/" method="post" class="flex items-center justify-center mt-4">
                <input type="text" placeholder="Add new task" name="newTask" autocomplete="off"
                    class="border rounded px-4 py-2 w-48 focus:outline-none focus:ring focus:border-blue-300">


                <button type="submit" name="button" value="<%= listTitle %>"

                    
                    class="bg-blue-500 text-white px-6 py-2 ml-2 rounded hover:bg-blue-600">+</button>
            </form>
        </div>
    </div>

    <script src="../public/index.js"></script>
</body>

</html>