<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

</head>
<body>

    <h1>It's <%= kindOfDay %>! </h1> 

    <ul>
        <li>None</li>
        <li>None</li>
        <li>None</li>
        <li>None</li>]
    </ul>

    <form action="/" method="post">
        <input type="text" placeholder="To-Do" name="newItem">
        <button type="submit">Submit</button>
    </form>


<script src="index.js"></script>
</body>
</html>

